@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,400i,700,800');

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

h1, h2, h3 {
  font-family: 'Open Sans';
  font-weight: 800;
  color: rgb(156, 58, 203);
}

p {
  font-family: 'Open Sans';
  font-size: 14px;
}

.siteContainer {
  overflow: hidden;
  height: 295vh;
}

.nav {
  position: fixed;
  z-index: 1;
}

.frontpageNav img {
  width: 64px;
  float: left;
  -webkit-animation: rotate 4s cubic-bezier(.08, 1.65, .92, -0.56) infinite;
  animation: rotate 4s cubic-bezier(.08, 1.65, .92, -0.56) infinite;
}

.frontpageNav {
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 100px;
  display: inline-block;
  margin: 20px;
  padding: 10px;
}

.frontpageNav .navH {
  float: left;
  padding-top: 10px;
  display: none;
}

.frontpageNav:hover {
  position: fixed;
  cursor: pointer;
  -webkit-transform: scale(1.05);
  -ms-transform: scale(1.05);
  transform: scale(1.05);
  -webkit-transition: 2s cubic-bezier(.08, 1.13, .67, -0.36);
  -o-transition: 2s cubic-bezier(.08, 1.13, .67, -0.36);
  transition: 2s cubic-bezier(.08, 1.13, .67, -0.36);
}

.frontpageNav:hover .navH {
  display: block;
  -webkit-animation: fadeIn 1s ease-in-out;
  animation: fadeIn 1s ease-in-out;
}

#overlay {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: black;
}

#overlay ul {
  position: relative;
  margin-top: 40px;
  float: left;
  text-align: left;
  left: 20vw;
  font-family: 'Open Sans';
  font-weight: 800;
  font-size: 30px;
}

#overlay ul li {
  list-style: none;
  padding: 10px;
}

#overlay ul li a {
  color: white;
  text-decoration: none;
}

#overlay ul li a:hover {
  color: rgb(233, 65, 232);
  -webkit-filter: saturate(0.8);
  filter: saturate(0.8);
  border-top: 4px solid rgb(233, 65, 232);
  -webkit-transition: 0.2s ease-in-out;
  -o-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
}

#overlay #exit {
  color: red;
  position: absolute;
  width: 64px;
  margin: 20px;
  padding: 10px;
  font-size: 60px;
}

#overlay #exit img:hover {
  cursor: pointer;
  border-radius: 32px;
  background-color: red;
  -webkit-transform: scale(1.05);
  -ms-transform: scale(1.05);
  transform: scale(1.05);
  -webkit-transition: 0.4s ease-in-out;
  -o-transition: 0.4s ease-in-out;
  transition: 0.4s ease-in-out;
}

#overlay #exit img {
  width: 64px;
}

.hero {
  background: url('assets/images/home.jpg');
  background-size: cover;
  width: 100vw;
  height: 60vh;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 70%, 0 100%);
  clip-path: polygon(0 0, 100% 0, 100% 70%, 0 100%);
}

.hero h1 {
  color: white;
  text-align: center;
  font-size: 60px;
}

.hero h3 {
  color: white;
  text-align: center;
  font-size: 20px;
}

.frontTitle {
  position: relative;
  top: 50%;
  -webkit-filter: none;
  filter: none;
  -webkit-transform: translateY(-100%);
  -ms-transform: translateY(-100%);
  transform: translateY(-100%);
}

div.polyMusic {
  width: 100vw;
  height: 60vh;
  margin-top: -18.1vh;
  margin-bottom: -18.1vh;
  -webkit-clip-path: polygon(0 30%, 100% 0, 100% 100%, 0 80%);
  clip-path: polygon(0 30%, 100% 0, 100% 100%, 0 80%);
}

div.imageMusic {
  width: 70vw;
  height: 60vh;
  -webkit-clip-path: polygon(0 20%, 100% 0, 100% 100%, 0 80%);
  clip-path: polygon(0 20%, 100% 0, 80% 100%, 0 80%);
  background: url('assets/images/clarke_guitar1.png');
  -webkit-filter: brightness(50%);
  filter: brightness(50%);
  background-size: cover;
  overflow: hidden;
  -webkit-transition: 0.4s ease-in-out;
  -o-transition: 0.4s ease-in-out;
  transition: 0.4s ease-in-out;
  -webkit-transform: scale(1.01);
  -ms-transform: scale(1.01);
  transform: scale(1.01);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

div.imageMusic:hover {
  cursor: pointer;
  -webkit-filter: brightness(100%);
  filter: brightness(100%);
  -webkit-transition: 1s ease-in-out;
  -o-transition: 1s ease-in-out;
  transition: 1s ease-in-out;
}

div.clip {
  width: 70vw;
  height: 60vh;
  -webkit-shape-outside: polygon(0 20%, 100% 0, 100% 100%, 0 80%);
  shape-outside: polygon(0 20%, 100% 0, 100% 100%, 0 80%);
  -webkit-shape-margin: 20px;
  shape-margin: 20px;
  float: left;
}

div.musicText {
  text-align: right;
}

.musicText {
  -webkit-transform: translateY(-55vh);
  -ms-transform: translateY(-55vh);
  transform: translateY(-55vh);
  width: 30vw;
  height: 50vh;
  padding: 20px;
  display: block;
  font-family: 'Open Sans';
  float: right;
  overflow: hidden;
}

.music h1 {
  font-size: 4vw;
}

div.polyPS {
  width: 100vw;
  clear: both;
  height: 60vh;
  -webkit-transform: translateY(-72.1vh);
  -ms-transform: translateY(-72.1vh);
  transform: translateY(-72.1vh);
  -webkit-clip-path: polygon(0 0%, 100% 20%, 100% 100%, 0 100%);
  clip-path: polygon(0 0%, 100% 20%, 100% 100%, 0 100%);
}

div.imagePS {
  width: 100vw;
  height: 60vh;
  -webkit-clip-path: polygon(30% 0, 100% 0, 100% 100%, 50% 100%);
  clip-path: polygon(30% 0, 100% 0, 100% 100%, 50% 100%);
  background-size: cover;
  -webkit-filter: brightness(40%);
  filter: brightness(40%);
  -webkit-transition: 0.4s ease-in-out;
  -o-transition: 0.4s ease-in-out;
  transition: 0.4s ease-in-out;
}

div.imagePS:hover {
  cursor: pointer;
  -webkit-filter: brightness(100%);
  filter: brightness(100%);
  -webkit-transition: 1s ease-in-out;
  -o-transition: 1s ease-in-out;
  transition: 1s ease-in-out;
}

.PSText h1 {
  font-size: 4vw;
}

.PSText {
  -webkit-transform: translateY(-126vh);
  -ms-transform: translateY(-126vh);
  transform: translateY(-126vh);
  clear: both;
  float: left;
  overflow: hidden;
  padding-left: 20px;
  height: 45vh;
  text-align: left;
  display: block;
  width: 30vw;
  font-family: 'Open Sans';
}

.polyCode {
  width: 100vw;
  height: 60vh;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 70%);
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 70%);
}

.code {
  -webkit-transform: translateY(3.7vh);
  -ms-transform: translateY(3.7vh);
  transform: translateY(3.7vh);
}

.imageCode {
  width: 100vw;
  height: 100%;
  -webkit-clip-path: polygon(0 0, 65% 0%, 50% 100%, 0% 100%);
  clip-path: polygon(0 0, 65% 0%, 50% 100%, 0% 100%);
  background-image: url('assets/images/code.png');
  background-size: cover;
  -webkit-filter: brightness(70%);
  filter: brightness(70%);
  -webkit-transition: 0.4s ease-in-out;
  -o-transition: 0.4s ease-in-out;
  transition: 0.4s ease-in-out;
}

.codeText {
  float: right;
  height: 40vh;
  overflow: hidden;
  padding-right: 20px;
  text-align: right;
  width: 35%;
  -webkit-transform: translateY(-75vh);
  -ms-transform: translateY(-75vh);
  transform: translateY(-75vh);
}

.codeText h1 {
  font-size: 4vw;
}

.imageCode:hover {
  cursor: pointer;
  -webkit-filter: brightness(100%);
  filter: brightness(100%);
  -webkit-transition: 1s ease-in-out;
  -o-transition: 1s ease-in-out;
  transition: 1s ease-in-out;
}

div.polyAnim {
  width: 100vw;
  clear: both;
  background-color: white;
  height: 60vh;
  -webkit-transform: translateY(-83vh);
  -ms-transform: translateY(-83vh);
  transform: translateY(-83vh);
  -webkit-clip-path: polygon(0 0%, 100% 30%, 100% 100%, 0 100%);
  clip-path: polygon(0 0%, 100% 30%, 100% 100%, 0 100%);
}

div.imageAnim {
  width: 70vw;
  float: right;
  height: 60vh;
  -webkit-clip-path: polygon(0% 0, 100% 0, 100% 100%, 20% 100%);
  clip-path: polygon(0% 0, 100% 0, 100% 100%, 20% 100%);
  -webkit-filter: brightness(40%);
  filter: brightness(40%);
  background-size: cover;
  -webkit-transition: 0.4s ease-in-out;
  -o-transition: 0.4s ease-in-out;
  transition: 0.4s ease-in-out;
  -webkit-transform: scale(1.01);
  -ms-transform: scale(1.01);
  transform: scale(1.01);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

div.imageAnim:hover {
  cursor: pointer;
  -webkit-filter: brightness(100%);
  filter: brightness(100%);
  -webkit-transition: 1s ease-in-out;
  -o-transition: 1s ease-in-out;
  transition: 1s ease-in-out;
}

.animText h1 {
  font-size: 4vw;
}

.animText {
  -webkit-transform: translateY(-133vh);
  -ms-transform: translateY(-133vh);
  transform: translateY(-133vh);
  clear: both;
  float: left;
  overflow: hidden;
  padding-left: 20px;
  height: 40vh;
  text-align: left;
  display: block;
  width: 30vw;
  font-family: 'Open Sans';
}

.animation {
  height: 40vh;
  border-bottom: 2px solid black;
  -webkit-transform: translateY(7vh);
  -ms-transform: translateY(7vh);
  transform: translateY(7vh);
}

.photoshop {
  margin-bottom: -76vh;
}

.about {
  -webkit-transform: translateY(4vh);
  -ms-transform: translateY(4vh);
  transform: translateY(4vh);
  position: relative;
  color: white;
  width: 100vw;
  height: 40vh;
  background-color: black;
  margin: 0 auto;
}

.about h1 {
  text-align: center;
  margin: 0 auto;
  font-size: 25px;
  padding: 10px;
  width: 30vw;
  border: 5px solid white;
  border-radius: 20px;
  -webkit-transform: translateY(12vh);
  -ms-transform: translateY(12vh);
  transform: translateY(12vh);
}

.about h1:hover {
  cursor: pointer;
  background-color: white;
  color: rgb(69, 203, 58);
  -webkit-transition: 0.4s ease-in-out;
  -o-transition: 0.4s ease-in-out;
  transition: 0.4s ease-in-out;
}

.about a {
  color: rgb(233, 65, 232);
  text-decoration: none;
}

.about a:active {
  color: rgb(233, 65, 232);
  text-decoration: none;
}

.about video {
  position: absolute;
  background-size: cover;
  top: 0;
  left: 0;
  width: 100vw;
  z-index: -1;
  overflow: hidden;
  -webkit-filter: opacity(0.16) sepia(90%) hue-rotate(-100deg);
  filter: opacity(0.16) sepia(90%) hue-rotate(-100deg);
}

.footer {
  background-color: rgb(18, 18, 18);
  -webkit-transform: translateY(0vh);
  -ms-transform: translateY(0vh);
  transform: translateY(0vh);
  position: absolute;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  width: 100vw;
  height: 10vh;
}

.footer ul {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.footer li {
  ;
  height: 100%;
  float: left;
  display: inline-block;
  color: white;
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
}

.footer a {
  padding: 1vw;
  margin: 0.2vw;
  text-decoration: none;
  list-style: none;
  color: white;
}

.footer a:hover {
  background-color: rgba(233, 65, 232, 0.3);
  border-right: 2px solid rgb(233, 65, 232);
  -webkit-transition: 0.4s ease-in-out;
  -o-transition: 0.4s ease-in-out;
  transition: 0.4s ease-in-out;
}

.footer li:hover {
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
  -webkit-transition: 0.4s ease-in-out;
  -o-transition: 0.4s ease-in-out;
  transition: 0.4s ease-in-out;
}

.footer h3 {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  float: right;
  text-align: right;
  color: white;
  display: inline-block;
  text-transform: uppercase;
}

.musicHero, .psHero, .progHero {
  -webkit-filter: brightness(1) sepia(0.8) hue-rotate(deg);
  filter: brightness(1) sepia(0.8) hue-rotate(deg);
  z-index: 1;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 80%);
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 80%);
}

.section1 {
  position: relative;
  z-index: 0;
  width: 100vw;
  height: 35vh;
  margin-top: -12vh;
  color: black;
}

.section1 .sect1Text {
  padding-top: 5vh;
  height: 30vh;
  padding: 40px;
  width: 50vw;
  text-align: left;
  overflow: hidden;
}

.section1 .sect1Text h1 {
  font-size: 4vw !important;
}

.leftSection {
  position: relative;
  margin-top: 2vh;
  margin-bottom: 2vh;
  width: 100vw;
  height: 50vh;
}

.leftImage {
  position: absolute;
  height: 100%;
  width: 50vw;
  left: 0;
  float: left;
}

.section2 img, .section4 img {
  -webkit-clip-path: polygon(0 0, 100% 0, 80% 100%, 0 100%);
  clip-path: polygon(0 0, 100% 0, 80% 100%, 0 100%);
  width: 100%;
}

.leftImage img {
  height: 100%;
  float: right;
  -o-object-fit: cover;
  object-fit: cover;
}

.leftTextSection {
  position: absolute;
  padding: 30px;
  width: 40vw;
  float: right;
  left: 60%;
  text-align: right;
  height: 45vh;
  overflow: hidden;
}

.leftTextSection h1 {
  font-size: 3.4vw !important;
}

.rightSection {
  position: relative;
  width: 100vw;
  height: 50vh;
}

.rightTextSection {
  position: absolute;
  float: left;
  text-align: left;
  width: 40vw;
  height: 45vw;
  overflow: hidden;
  padding: 30px;
}

.rightImage {
  position: relative;
  width: 50vw;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  float: right;
}

.rightImage img {
  position: absolute;
  width: 100%;
  float: right;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 20% 100%);
  clip-path: polygon(0 0, 100% 0, 100% 100%, 20% 100%);
}

.rightTextSection h1 {
  font-size: 3.4vw !important;
}

@media screen and (max-width:900px) {
  .footer h3 {
    display: none;
  }
}

@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@-webkit-keyframes rotate {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes rotate {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
